@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  margin: 0;
}

/* Grid */
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
}

/* Header*/
header {
  background-color: #242425;
  height: 50px;
  margin: 0 auto;
  width: 100%;
  z-index: 1;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

nav ul {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  float: right;
  display: inline-block;
}

header > nav img {
  padding: 10px 0;
}

header > nav ul > li {
  display: inline-block;
  text-align: center;
  font-size: 18px;
}

header > nav ul > li > a {
  line-height: 50px;
  display: inline-block;
  color: #fff;
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
}

header > nav ul > li > a:hover {
  background: #ccc;
}

/* Hero */
.hero {
  background-image: url(https://images.pexels.com/photos/2811887/pexels-photo-2811887.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  height: 500px;
  padding: 150px 30px 20px;
  background-position: center;
  text-transform: uppercase;
}

.slogan {
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  float: right;
  max-width: 550px;
  margin-top: 80px;
  margin-right: -50px;
  padding: 30px 60px 60px 40px;
  position: relative;
}

.slogan h1 {
  margin-left: 10px;
  margin-top: 8px;
  color: #333;
  font-weight: 600;
  text-align: left;
  letter-spacing: 2px;
  font-size: 40px;
  text-transform: uppercase;
}

.slogan h2 {
  margin-left: 10px;
  margin-top: 8px;
  color: #333;
  font-weight: 800;
  text-align: left;
  letter-spacing: 3px;
}

/* Benefits */
.benefits {
  margin-top: 60px;
  display: inline;
  padding: 55px;
}

.benefits .col {
  float: left;
  padding: 50px;
  margin: 50px;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
}

.benefits .col i {
  background-color: #313332;
  border-radius: 30px;
  color: #fff;
  padding: 25px;
  transition: .35s ease-in-out;
  width: 130px;
}

.benefits .col h2 {
  text-transform: uppercase;
  transition: .35s ease-in-out;
  letter-spacing: 4px;
  font-size: 18px;
}

.benefits .col-3:hover i {
  background-color: #00C7E8;
}

.benefits .col-3:hover h2 {
  color: #00C7E8;
}

/*galeria*/
.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  float: left;
  min-height: 1px;
  text-align: center;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.featured-works {
  margin: auto;
  text-align: center;
  letter-spacing: 3px;
}

.gallery-img {
  height: 30vh;
  width: 100%;
  position: relative;
}

.gallery-img:after {
  position: absolute;
  z-index: -1;
  background-position: center center;
  background-size: cover;
  content: " ";
}

.gallery-img1 {
  background: url(https://images.pexels.com/photos/1342295/pexels-photo-1342295.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat 0/cover;
}

.gallery-img2 {
  background: url(https://images.pexels.com/photos/3653821/pexels-photo-3653821.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat 0/cover;
}

.gallery-img3 {
  background: url(https://images.pexels.com/photos/2067424/pexels-photo-2067424.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat 0/cover;
}

.gallery-img4 {
  background: url(https://images.pexels.com/photos/574111/pexels-photo-574111.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat 0/cover;
}

.gallery-img5 {
  background: url(https://images.pexels.com/photos/1907230/pexels-photo-1907230.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) no-repeat 0/cover;
}

.gallery-img6 {
  background: url(https://images.pexels.com/photos/3302494/pexels-photo-3302494.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat 0/cover;
}

.gallery-img7 {
  background: url(https://images.pexels.com/photos/1853004/pexels-photo-1853004.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat 0/cover;
}

.gallery-img8 {
  background: url(https://images.pexels.com/photos/2957897/pexels-photo-2957897.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat 0/cover;
}

.gallery-img9 {
  background: url(https://images.pexels.com/photos/1233258/pexels-photo-1233258.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat 0/cover;
}

.gallery-img10 {
  background: url(https://images.pexels.com/photos/2067436/pexels-photo-2067436.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat 0/cover;
}

section.gallery .layer {
  display: none;
  width: 100%;
  height: 100%;
  transition: 2s;
}

section.gallery .gallery-img:hover .layer {
  display: block;
  background: rgba(68, 65, 65, 0.68);
}

section.gallery .layer i {
  padding: 50px;
  color: #fff;
  font-size: 35px;
  position: relative;
}

/* section works */
.workers {
  margin-top: 80px;
}

.worker img {
  width: 270px;
  height: 250px;
  border-radius: 50%;
}

.worker .layer {
  position: absolute;
  width: 270px;
  height: 250px;
  border-radius: 50%;
  font-size: 20px;
  color: red;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.worker .photo-and-position:hover .layer {
  opacity: 1;
  margin-left: 14px;
}

.layer h2 {
  line-height: 210px;
  letter-spacing: 2px;
}

/* sekcja awsome title*/
.picture {
  margin-top: 50px;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1550684376-efcbd6e3f031?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-position: center;
}

.picture .one img {
  padding-top: 40px;
  margin-bottom: 0;
  position: relative;
  left: 10px;
  width: 430px;
  height: 398px;
  float: left;
}

.picture h1 {
  color: white;
  font-size: 65px;
  letter-spacing: 2px;
  font-size: 40px;
  text-transform: uppercase;
}

.picture .two p {
  text-align: left;
  color: white;
}

.awsome-title {
  width: 100%;
  background-color: blue;
}

/*stylowanie sekcji z liczbami*/
.numbers > .row > .number-col > p {
  text-transform: uppercase;
  text-align: center;
  color: #00c7e8;
  font-size: 20px;
  line-height: 0;
  font-family: 'Fjalla One', sans-serif;
}

.numbers > .row > .number-col > .number {
  color: black;
  font-size: 70px;
  font-weight: 900;
  font-family: 'Fjalla One', sans-serif;
  line-height: 0;
}

.numbers > .row > col-3 {
  display: inline-block;
  min-height: 1px;
  margin: 30px 0;
  padding: 0;
  text-align: center;
}

/*stylizacja stopki*/
.foot {
  background-color: #313332;
  margin-top: 20px;
  color: white;
  text-align: left;
}

.foot h1:after {
  content: "";
  height: 2px;
  width: 130px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  letter-spacing: 2px;
}

.foot p {
  text-align: left;
  font-size: 16px;
}

footer {
  text-align: center;
  background-color: #252726;
  color: white;
  margin: 0;
  padding: 10px;
}

.foot .fa {
  background-color: #04C4E9;
  width: 46px;
  height: 46px;
  line-height: 46px;
  margin: 5px;
  text-align: center;
}

.social-media div {
  text-align: left;
}

.foot .get-in-touch p {
  margin: 0;
}

.foot .get-in-touch .monitor1 div {
  padding-top: 0;
}

/*# sourceMappingURL=style.css.map */