@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    margin: 0; 
}

.row::before,
.row::after {
	content:"";
	display: table;
	clear: both;
 }

 [class*='col-'] {
	float: left;
    min-height: 1px;
    padding: 0;
}

/* Grid */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

    .container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

    /* Header*/
    header>nav img {
        padding: 10px 0;
    }

    header {
        background-color: #242425;
        height: 50px;
        margin: 0 auto;
        width: 100%;
        z-index: 1;

    nav ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        float: right;
        display: inline-block;

        li {
            display: inline-block;
            text-align: center;
            font-size: 16px;
        }
    }

        a {
            line-height: 50px;
            display: inline-block;
            color: #fff;
            padding: 0 20px;
            text-decoration: none;
            text-transform: uppercase;
            &:hover {
                background: rgb(170, 170, 170);
                text-decoration: none;
            }
        }
    }

    /* Hero */
    .hero {
        background-image: url(https://images.unsplash.com/photo-1548954547-a5402433c709?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
        height: 500px;
        padding: 150px 30px 20px;
        background-position: center;
        text-transform: uppercase;
    }

    .slogan {
        background-color: rgba(255, 247, 247, 0.726);
        color: #fff;
        float: right;
        max-width: 550px;
        margin-top: 80px;
        margin-right: -50px;
        padding: 30px 60px 60px 40px;
        position: relative;
    
        h1 {
        margin-left: 10px;
        margin-top: 8px;
        color: rgb(32, 31, 31);
        font-weight: 600;
        text-align: left;
        letter-spacing: 2px;
        font-size: 28px;
        text-transform: uppercase;
    }
         h2 {
        margin-left: 10px;
        margin-top: 8px;
        color: rgb(36, 35, 35);
        font-weight: 800;
        text-align: left;
        letter-spacing: 3px;
    }
}

    /* Benefits */
    .benefits .col {
        margin: 80px 48px auto;
        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;

        i {
            width: 125px;
            background-color: #292929;
            border-radius: 35px;
            color: #fff;
            padding: 25px;
            transition: .35s ease-in-out;
        }

        h2 {
            padding: 10px 0 2px 0;
            text-transform: uppercase;
            transition: .35s ease-in-out;
            font-size: 20px; 
        }

        p {
           font-size: 16px;
        }
    }

        .benefits .col-3:hover i {
            background-color: rgb(170, 170, 170);
        }

        .benefits .col-3:hover h2 {
            color: rgb(170, 170, 170);
        }

    /* text */
    .featured-works {
        margin: 80px auto;
        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
        
        h3 {
            font-size: 20px;
            text-transform: uppercase;
            padding: 15px 0;
        }
        p {
            font-size: 16px;
        }
    }

    /*galeria*/
    .gallery-img {
        height: 30vh;
        width: 100%;
        position: relative;
    &:after {
        position: absolute;
        z-index: -1;
        background-position: center center;
        background-size: cover;
        content: "";
    }
}
    
    .gallery-img1 {
        background: url(https://images.pexels.com/photos/1342295/pexels-photo-1342295.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat 0/cover;
    }

    .gallery-img2 {
        background: url(https://images.pexels.com/photos/3653821/pexels-photo-3653821.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat 0/cover;
    }

    .gallery-img3 {
        background: url(https://images.pexels.com/photos/2067424/pexels-photo-2067424.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat 0/cover;
    }

    .gallery-img4 {
        background: url(https://images.pexels.com/photos/574111/pexels-photo-574111.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat 0/cover;
    }

    .gallery-img5 {
        background: url(https://images.pexels.com/photos/1907230/pexels-photo-1907230.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) no-repeat 0/cover;
    }

    .gallery-img6 {
        background: url(https://images.pexels.com/photos/3302494/pexels-photo-3302494.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat 0/cover;
    }

    .gallery-img7 {
        background: url(https://images.pexels.com/photos/1853004/pexels-photo-1853004.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat 0/cover;
    }

    .gallery-img8 {
        background: url(https://images.pexels.com/photos/2957897/pexels-photo-2957897.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat 0/cover;
    }

    .gallery-img9 {
        background: url(https://images.pexels.com/photos/1233258/pexels-photo-1233258.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat 0/cover;
    }

    .gallery-img10 {
        background: url(https://images.pexels.com/photos/2067436/pexels-photo-2067436.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat 0/cover;
    }

    section.gallery .layer {
        display: none;
        width: 100%;
        height: 100%;
        transition: 2s;
    }

    section.gallery .gallery-img:hover .layer {
        display: block;
        background: rgba(68, 65, 65, 0.68);
    }

    section.gallery .layer i {
        padding: 50px;
        color: #fff;
        font-size: 35px;
        position: relative;
    }

    /* section works */
    .workers {
        padding: 100px 20px 15px 30px; 
        font-family: 'Source Sans Pro', sans-serif;

        h3 {
            text-align: center;
            padding: 10px 40px 0 0;
            font-size: 24px;
        }
    }

    .worker img {
        width: 250px;
        height: 220px;
        border-radius: 50%;
    }

    .worker .layer {
        position: absolute;
        width: 250px;
        height: 220px;
        border-radius: 50%;
        font-size: 16px;
        color: rgb(243, 26, 26);
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .layer h2 {
        line-height: 180px;
        letter-spacing: 1px;
        text-align: center;
        color: red;
    }
    .worker .photo-and-position:hover .layer {
        opacity: 1;
    }


    /* sekcja awsome title*/
    .picture {
        margin-top: 80px;
        width: 100%;
        background-color: #330033;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
        // background-image: url(https://cdn.stocksnap.io/img-thumbs/960w/6U6EAPKKD7.jpg);
        background-size: cover;
        background-position: center;
        font-family: 'Source Sans Pro', sans-serif;
    }

    .picture .one img {
        padding-top: 20px;
        margin-bottom: 0;
        position: relative;
        top: 35px;
        left: -130px;
        width: 780px;
        height: 400px;
        float: left;
    }

    .picture h1 {
        color: white;
        letter-spacing: 2px;
        font-size: 34px;
        text-transform: uppercase;
    }

    .picture .text p {
        color: white;
        padding-top: 15px;
        text-align: left;
        margin: 10px;
    }

    /*stylowanie sekcji z liczbami*/

    .numbers>.row>.number-col>p {
        margin-top: 70px;
        text-transform: uppercase;
        text-align: center;
        color: #00c7e8;
        font-size: 20px;
        line-height: 0;
    }

    .numbers>.row>.number-col>.number {
        color: black;
        font-size: 60px;
        font-weight: 900;
        line-height: 0;
    }

    .numbers>.row>col-3 {
        display: inline-block;
        min-height: 1px;
        margin: 30px 0;
        padding: 0;
        text-align: center;
    }

    /*stylizacja stopki*/
    .foot {
        padding: 30px 0 30px 0;
        background-color: rgb(49, 51, 50);
        color: white;
        text-align: left;
        font-family: 'Source Sans Pro', sans-serif;
    }

.about-us {
    padding-right:  60px;
}

    .foot h1:after {
        content: "";
        height: 2px;
        width: 130px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        letter-spacing: 2px;
    }

    .foot p {
        text-align: left;
        font-size: 16px;
        padding-right: 10px;
    }

    footer {
        text-align: center;
        background-color: #252726;
        color: white;
        margin: 0;
        padding: 10px;
    }

    .foot .fa {
        background-color: #04C4E9;
        width: 46px;
        height: 46px;
        line-height: 46px;
        margin: 5px;
        text-align: center;
    }

    .social-media div {
        text-align: left;
    }

    .foot .get-in-touch p {
        margin: 0;
    }

    .foot .get-in-touch .monitor1 div {
        padding-top: 0;
    }

    /* Media queries */ 

    @media(max-width: 767px) {
    
/* Grid */
.col-s-1 {
    width: 8.33%;
}

.col-s-2 {
    width: 16.66%;
}

.col-s-3 {
    width: 25%;
}

.col-s-4 {
    width: 33.33%;
}

.col-s-5 {
    width: 41.66%;
}

.col-s-6 {
    width: 50%;
}

.col-s-7 {
    width: 58.33%;
}

.col-s-8 {
    width: 66.66%;
}

.col-s-9 {
    width: 75%;
}

.col-s-10 {
    width: 83.33%;
}

.col-s-11 {
    width: 91.66%;
}

.col-s-12 {
    width: 100%;
}
        /* Header*/
        header>nav img {
            display: none;
        }
    
        header {
            background-color: #242425;
            height: 305px;
    
        nav ul {
            float: none;
            display: block;
    
            li {
                font-size: 14px;
                display: block;
                border-bottom: 1px solid rgb(158, 151, 151);  
            }
        }
    
            a { 
                padding: 5px 0;
                line-height: 40px;
                &:hover {
                    display: none;
                }
            }
        }
    
        /* Hero */
        .hero {
            background-image: url(https://images.unsplash.com/photo-1585346830536-3602fce5f1de?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=633&q=80);
            width: 100%;
            height: 50vh;
            text-align: center; 
            background-size: cover;
            background-position: center;
            overflow: hidden; 
        }
    
        .slogan {
            display: none;
    }

  /* Benefits */

  .benefits .col {
    margin: 35px 0 0px 0px;
    height: 80px;
    width: 100%;

    i {
        display: none;
    }

    h2 {
        margin: 10px 60px;
        text-transform: uppercase;
        transition: none;
        font-size: 16px; 
        text-align: center;
    }

    p {
       font-size: 14px;
       text-align: center;
    }
}

    .benefits .col-3:hover i {
        display: none;
    }

    .benefits .col-3:hover h2 {
        color: black;
    }

     /*galeria*/
     .gallery-img {
        height: 12vh;
        width: 100%;

    &:after {
       display: none;
    }
    .layer {
        display: none;
    }
}
   /* section works */
    .workers {
        padding-top: 85px;
        text-align: center;
        margin: 0; 

        h3 {
            text-align: center;
            padding: 0;
            font-size: 18px;
        }
    }

    .worker img {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        margin-top: 40px;
    }

    .worker .layer {
        display: none;
    }

    .layer h2 {
        line-height: 40px;
        letter-spacing: 0;
        color: none;
    }
    .worker .photo-and-position:hover .layer {
        opacity: none;
    }

/* sekcja awsome title*/
.picture {
    margin-top: 80px;
    width: 100%;

    background-color: #330033;
}

.picture .one img {
    display: none;
}

.picture h1 {
    text-align: center;
    color: white;
    letter-spacing: 2px;
    font-size: 28px;
    text-transform: uppercase;
}

.picture .text p {
    color: white;
    padding: 15px 15px 5px 15px;
    text-align: left;
    margin: 10px;
}

/*stylowanie sekcji z liczbami*/

.numbers>.row>.number-col>p {
    margin-top: 50px;
    font-size: 18px;
}

.numbers>.row>.number-col>.number {
    font-size: 30px;

}

.numbers>.row>col-3 {
    margin: 30px 0;
}

    /*stylizacja stopki*/
    .foot {
        margin-top: 20px;
        padding: 20px 0 20px 0;
        text-align: left;
    }

.about-us {
    padding: 25px;
}

.get-in-touch > h1 {
  margin-left: 25px;
}

    footer {
        text-align: center;
        background-color: #252726;
        color: rgb(255, 255, 255);
        margin: 0;
        padding: 10px;
    }

    .foot .fa {
        background-color: #04C4E9;
        width: 36px;
        height: 36px;
        line-height: 36px;
        text-align: center;
    }

    .social-media {
        margin: 5px 25px 5px 25px;
    }

    .foot .get-in-touch p {
        margin: 5px 25px 5px 25px;
    }
}

    @media(min-width: 768px) and (max-width: 991px) {

    }

    @media(min-width: 992px) and (max-width: 1199px) {

    }
